#doc {

    h1.title {
        margin-top: 0;
        display: block;
        text-align: center;
    }

    .last_modified,
    .logo-wrapper {
        text-align: center;
    }

    .logo-wrapper {
        margin-top: 2rem;
    }
    
    #logo {
        display: inline-block;
        max-width: 120px;
        max-height: 120px;
    }

}