
.home {
  ul.post {
    list-style-type: none;
    margin: 0;
  }

  .post-list li {
    margin-bottom: 1rem;
  }

  @media (max-width: $small-breakpoint) {
    .post-list h2:first-child {
      margin-top: 1rem;
    }
  }
}
