#resume {

    font-size: 1.1rem;

    h1.title {
        display: block;
        text-align: center;
        margin-top: 0.5rem;
    }

    h2 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #dcdcdc;
    }

    .subtitle {
        text-align: center;
    }

    .skill-container {

        display: block;
        margin: 20px 0;

        .skill {
            display: inline-block;
            border-radius: 4px;
            font-size: 0.8rem;
            margin: 0.3em 0.2em;
            padding: 0.3em 0.5em;
            border: 1px solid black;
        }

    }

    .avatar {
        width: 95px;
        max-width: 100%;
        overflow: hidden;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
    }

    blockquote {
        margin: 5px 20px;
    }

    .picture-wrapper {
        margin-top: 26px;
        margin-bottom: 18px;
        display: block;
        text-align: center;
        padding: 0;

        img {
            display: inline-block;
            width: 90px;
            height: 90px;
            margin: 0;
            padding: 0;
            border-radius: 50%;
        }
    }

    .hide {
        display: none !important;
    }


}