#resume {
  h1 {
    text-align: center;
    margin-top: 1rem;
  }

  .meta {
    display: none;
  }

  #subtitle {
    text-align: center;
  }

  .last_modified {
    font-size: 0.8rem;
    text-align: center;
  }

  .pray {
    text-align: center;
    font-size: 0.8rem;
  }
}

@mixin nested_a_fix() {
  a {
    a {
      display: inline;
    }
  }
}

#small-toc {
  @include nested_a_fix
}

#resume-right {
  #toc {
    @include nested_a_fix
  }
}