#resume {
  h1 {
    text-align: center;
    margin-top: 1rem;
  }

  .meta {
    display: none;
  }

  #subtitle {
    text-align: center;
  }

  .last_modified {
    font-size: 0.8rem;
    text-align: center;
  }

  .pray {
    text-align: center;
    font-size: 0.8rem;
  }
}

#resume-right {
   #toc,
   #small-toc{
      a {
        a {
          display: inline;
        }
      }
   }
}