---
layout: default
---

<div class="post" id="anchor">
  <h1 class="post-title">{{ page.title }}</h1>
  {% capture category %}{{page.category | capitalize }}{% endcapture %}
  <span class="post-date">{{ page.date | date_to_string }} &nbsp;
    <a href="{{ '/categories/' | absolute_url }}#{{category}}">{{category}}</a>&nbsp;

    {% for tag in page.tags %}
    <a href="{{ '/tags/' | absolute_url }}#{{tag}}">#{{tag}}</a>&nbsp;
    {% endfor %}
  </span>



  <div id="toc-container">
    <div id="toc">
    </div>
  </div>

  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% include comments.html %}