<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

    <div class="container content" id="resume">

        {% if site.resume_avatar == 'true' %}
            <img src="{{ '/assets/img/avatar.jpg' | absolute_url }}" alt="my photo" class="avatar no-print" itemprop="image" class="avatar">
        {% endif %}

        <h1 class="title">{{page.title}}</h1>
        {{ content | markdownify }}
    </div>

    <p id="top" onclick="goToTop()">top <a class="fa fa-long-arrow-up" title="go to top"></a></p>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <script src='{{ site.baseurl }}/assets/js/app.js'></script>

</body>

</html>